.container {
  display: grid;
  grid-template-rows: 10% 90%;
  height: 100%;
}

.search-input-container {
  position: absolute;
  top: 85%;
  left: 30%;
  width: 50%;
  height: 60px;
  background-color: white;
  border-radius: 2em;
  outline: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.utility-holder {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 270px;
  height: 100%;
}

.info-section {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  height: 100%;
}

.left-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 48px;
  color: white;
}

.title-holder {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 70%;
  height: 50%;
}

.explore-button {
  background-color: #e28743;
  width: 12rem;
  height: 5rem;
  border-radius: 1em;
  z-index: 999;
  box-shadow: -2px 2px 6px 0px rgba(226, 135, 67, 0.75);
}

.right-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../Util/pngtree.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: center;
}
